@mixin mediaQuery() {
  @media screen and (max-width: 900px) {
    @content;
  }

}

@mixin mediaQuery-small() {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin flexbox($justify_val: flex-start, $align_val: stretch) {
  display: flex;
  justify-content: $justify_val;
  align-items: $align_val;
}