$primary-color: #c7d4f6;
$primary-sec-color: #a8b7f0;
$primary-text-c: #fff;
$white-bg-c: #fff;
$offwhite-c: #f6f4fc;
$header-etc-c: #838fb8;
$secondary-etc-c: #4f556d;
$input-border-c: #929fcf;
$input-placeholder-c: #a0aee0;
$total-price-c: #a00d02;